@font-face {
	font-family: 'SRG SSR';
	src:
		url
			('https://SRG_SSR.github.io/SAC_Fonts/SAC_Fonts/SRGSSRType.ttf.css
			format('truetype');
			font-weight: normal;
			font-style: normal;

}
